

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class='catHomeBann1'>
  <div class="img"><%= image_tag("electronics.jpg")%></div>
  <div class="desc"><h2>Apartments</h2></div>
</div>
<div class='catHomeBann'>
  <div class="img"><%= image_tag("fashion.jpg")%></div>
  <div class="desc"><h2>Business Buildings</h2></div>
</div>
<div class='catHomeBann'>
  <div class="img"><%= image_tag("home.jpg")%></div>
  <div class="desc"><h2>Suburbs</h2></div>
</div>
<div class='catHomeBann4'>
  <div class="img"><%= image_tag("books.jpg")%></div>
  <div class="desc"><h2>Student Housing</h2></div>
</div>
